* {
    box-sizing: border-box;
    font-size: 0px;
    margin: 0 auto;
}

html, body {
    font-family: 'Times New Roman', Times, serif;
}

.newspaperTitle {
    margin: 0 auto;
    border: 5px double black;
    background-color: peru;
    text-align: center;
    font-size: 50px;
}

.articleContainer {
    align-content: center;
    text-align: center;
    background-color: antiquewhite;
}

.frontPageArticle {
    margin-top: 20px;
    font-size: 30px;
    display: inline-block;
}

.columns {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.columnOne {
    display: inline-block;
    margin: 5px;
    width: 30%;
    font-size: 20px;
}

.columnTwo {
    display: inline-block;
    margin: 5px;
    width: 30%;
    font-size: 20px;
}

.columnThree {
    display: inline-block;
    margin: 5px;
    width: 30%;
    font-size: 20px;
}

.classifieds {
    margin-top: 10%;
    padding: 1%;
    border: 5px double;
}

.classifiedsTitle {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid black;
}

.classifiedOne {
    display: inline-block;
    border-right: 3px solid black;
    margin: 5px;
    padding: 5px;
    width: 30%;
    font-size: 20px;
    vertical-align: top;
}

.classifiedTwo {
    display: inline-block;
    border-right: 3px solid black;
    margin: 5px;
    padding: 5px;
    width: 30%;
    font-size: 20px;
    vertical-align: top;
}

.classifiedThree {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 30%;
    font-size: 20px;
    vertical-align: top;
}

.classifiedImg {
    display: inline-block;
    width: 350px;
    height: 350px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}

strong {
    font-size: 25px;
}

em {
    text-decoration: underline blue;
    color: blue;
    font-style: normal;
    font-size: 20px;
}