body{
    margin: 0;
}

#root{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    padding: 20px;
    color: darkslategray;
}

h1{
    background-color: darkcyan;
    padding: 10px;
    margin-bottom: 0;
}

.navBar{
    display: flex;
    justify-content: center;
    border: 2px solid darkslategray;
}

.links{
    color: darkslategray;
    padding: 20px;
    background: transparent;
    text-decoration: none;
    font-size: 1.5em;
}

.links:focus{
    color: darkred;
}