html, body {
    margin: 0;
    padding: 0;
    font-size: 22px;
}
h1 {
    color: darkgreen;
    font-family: "Georgia";
    text-align: center;
}

h2 {
    font-family: "Georgia";
    text-align: center;
}

p {
    line-height: 1.8;
    font-size: 28px;
}

label {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    float: left;
    margin: 25px;
}

.container {
    width: 68vw;
    margin: 0 auto;
}

li {
    font-size: 28px;
    margin: .5rem;
    margin-left: 2rem;
}