body{
    display: flex;
    flex-direction: column;
    font-family: 'Shadows Into Light Two', cursive;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
    background-color: #9b8389;
    border-radius: 5px;
}

main{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 0;
    width: 50%;
    border: none;
    border-bottom: 2px dashed #9b8389;
    font-size: .8em;
    transition: all .8s ease;
}

main input:focus{
    border-bottom: 2px solid #9b8389;
    outline-width: 0;
    width: 90%;
}

button{
    font-weight: bold;
    border-radius: 5px;
    outline: #9b8389;
    transition-duration: 0.4s;
}

button:hover{
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 15px 25px 0 rgba(0, 0, 0, 0.20);
}

.addBtn{
    padding: .5%;
    background-color: #9B8389;
}

section{
    margin: 5% 0;
    padding: 2%;
    border-top: 2px solid #9B8389;
}

.todoListImg{
    visibility: hidden;
}

.todoItemWrapper{
    position: relative;
    margin: 2% 0;
    padding: 1%;
    background-image: linear-gradient(#fff, #9b8389);
    overflow: hidden;
    border-top: 10px solid #9B8389;
    border-radius: 5px;
    transition: all .7s ease;
}

.deleted{
    transform: translateY(-15%);
    opacity: 0;
}

h3{
    margin: 0;
    padding: 1%;
    font-size: 2em;
}

h4{
    margin: 0;
    padding-left: 2%;
    font-size: 1.5em;
}

.todoItemCheckboxLabel{
    padding-left: 2%;
    font-size: 1.2em;
}

.todoItemCheckbox{
    width: 20%;
}

p{
    margin: 0;
    padding: 3%;
}

.imgUrl{
    filter: grayscale(100%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4%;
    height: 92%;
    width: 96%;
    border-radius: 5px;
    margin-bottom: 1%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .2;
    pointer-events: none;
}

.deleteBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
    color: #9B8389;
    background: transparent;
    border: 1px solid #9b8389;
    transition: all .5s ease;
}

.deleteBtn:hover{
    color: #fff;
    background: #9b8389;
}

.completed{
    color: #9B8389;
    text-decoration: line-through #9B8389;
}

.completedTask{
    border-color: #88A5A3;
    background-image: linear-gradient(#fff, #88A5A3);
}

@media(min-width: 768px){
    header{
        border-radius: 20px;
    }
    
    main{
        flex-direction: row;
    }

    form{
        width: 70%;
    }

    input{
        width: 30%;
        font-size: 1em;
    }

    main input:focus{
        width: 100%;
    }

    button{
        border-radius: 20px;
    }

    .todoListImg{
        visibility: visible;
        width: 30%;
        background-image: url("./CheckList.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    section{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        margin: 2%;
    }

    .todoItemWrapper{
        margin: .5%;
    }
}