#root{
    display: flex;
    flex-direction: column;
    margin: 0;
}

body{
    margin: 0;
    color: black;
    
}

@font-face {
    font-family: "REBUFFED";
    src: url("../fonts/REBUFFED.TTF");
  }

  @font-face {
      font-family: "Angelized";
      src: url("../fonts/Angelized.ttf");
  }

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: green;
    background-repeat: no-repeat;
    background-size: 150%;
    background-attachment: fixed;
    background-position-x: 92%;
    background-position-y: -18%;
    /* background-image: url("../img/buffyBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%; */
}

.left-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    transform: translateY(260%);
    width: 50vw;
    background-color: darkred;
}

.right-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    transform: translateY(260%);
    width: 50vw;
    background-color: darkred;
}

.toggle-button{
    font-size: 25px;
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: white;
}

a{
    margin: 5px;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
}

.main-view-container{
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 32vh;
    padding-bottom: 10vh;
    background-color: white;
    color: black;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    height: 15%;
    width: 80vw;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    margin: 12%;
    color: white;
}

.show-summary{
    font-size: 1.5em;
}

.hidden{
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.cast-list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.cast-member{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
}

.cast-member-person{
    width: 48%;
    text-align: right;
    color: darkred;
}

.cast-member-character{
    width: 48%;
    text-align: left;
    color: black;
}

.cast-member-img-container{
    display: flex;
    justify-content: space-between;
}

.cast-member-image{
    height: 48%;
    width: 48%;
}